body {
    background-color: #A8AC35;
  }
  
  #wrapper {
    margin: 24px auto;
    width: 1200px;
    background-color: #E3D26F;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
  }
  
  header {
    grid-column:span 12;
    padding: 24px 48px 24px 0;
  }
  
  header p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:right;
    margin-top: -64px;
  }
  
  header p a{
    text-decoration: none;
    font-size: 24px;
    background-color: #CE6664;
    color: #8C2E2C;
    border-radius: 25px;
    padding: 6px 12px 6px 12px;
    /*box-shadow: 10px 10px 10px #999; /* x, y, blur, color */
  }
  
  header p a:hover {
    background-color: #ba3d3bc4;
  }
  
  h1 a{
    text-decoration: none;
    color: #09864E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: medium;
    padding-left: 36px;
    text-shadow: 2px 2px 2px #054C2C;
  }




  footer {
    grid-column:span 12;
    margin-top: 24px;
    color: #99871E;
    text-align: center;
  }
  
  footer nav {
    grid-column: span 12;
  }
  
  footer ul {
    list-style-type: none;
    margin-left: 28px;
  }
  
  footer li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    margin-right: 72px;
  }
  
  footer li a {
    color: #99871E;
    font-size: 24px;
  }
  
  footer li a:hover {
    color: #81721d;
  }