body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(cat.jpg);
    background-repeat: no-repeat;
    background-position: top right; 
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

h1,h2, h3, h4 {
    color: orange;
    font-style: italic;
    font-weight: normal;
}

.imgbox {
    border: 40px solid black;
    background-color: yellow; 
    padding: 20px;
    width: 1400px;

}

#id {
    color:red;
    background-color: rgba(255, 182, 193, 0.842)
}

.section {
    color: green;
    background-color: rgba(172, 255, 47, 0.603)
}

.section2 {
    color:#1060FF;
    background-color: rgba(0, 255, 255, 0.562)
}

.section3 {
    color: purple
}

p {
    color: darkslateblue
}

ul {
    color: rgb(0, 156, 0)
}

.span1 {
    color:rgb(179, 2, 202)
}

.span2 {
    color:rgb(0, 104, 35)
}

a {
    color: #ff0000;
    text-decoration: none;
  }

a:visited {
    color:rgb(0, 170, 23)
}

a:hover {
    color:yellow
}

#boarder {
    background-color: rgba(255, 0, 0, 0.596)
}