body {
  background-color: #A8AC35;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  background-color: #E3D26F;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

header {
  grid-column:span 12;
  padding: 24px 48px 24px 0;
}

header p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align:right;
  margin-top: -64px;
}

header p a{
  text-decoration: none;
  font-size: 24px;
  background-color: #CE6664;
  color: #8C2E2C;
  border-radius: 25px;
  padding: 6px 12px 6px 12px;
  /*box-shadow: 10px 10px 10px #999; /* x, y, blur, color */
}

header p a:hover {
  background-color: #ba3d3bc4;
}

h1 a{
  text-decoration: none;
  color: #09864E;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 48px;
  font-weight: medium;
  padding-left: 36px;
  text-shadow: 2px 2px 2px #054C2C;
}

main {
  grid-column: span 12;
  text-align: center;
  margin-top: 24px;
}

main p {
  background-color:#D7BE33;
  margin: 12px 70px 0 70px;
  width: 1060px;
  height: 300px
}

main img {
  height: 400px;
}

#myCarousel {
  margin: 0px 200px 36px 200px;
  width: 800px;
  background-color:#D7BE33;
  padding: 24px;
}

#myCarousel .f-carousel__slide {
  text-align: center;
}

.f-carousel__dots {
  display: none;
}

main h2 {
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
  width: 270px;
  margin: 20px 465px 20px 465px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color:#83678E;
  color: #413347;
  padding: 12px 0 12px 0;
}

nav {
  grid-column:span 12;
  margin: 24px 24px 36px 56px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-left: px;
}

nav li a {
  display: block;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
  color: #005250;
  background-color:#00CCC9;
  text-align: center;
  width: 196px;
  padding: 70px 0 70px 0;
  border-top-left-radius: 25px;
  margin-right: 24px;
  margin-top: 0;
}

nav li a:hover {
  background-color:#00B8B5;
}

footer {
  grid-column:span 12;
  margin-top: 24px;
  color: #99871E;
  text-align: center;
}

footer nav {
  grid-column: span 12;
}

footer ul {
  list-style-type: none;
  margin-left: 28px;
}

footer li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  margin-right: 72px;
}

footer li a {
  color: #99871E;
  font-size: 24px;
}

footer li a:hover {
  color: #81721d;
}