body {
  background-image: linear-gradient(#7aaa2c, #2caa8f, #83678E);
}

#wrapper {
margin: 24px auto;
width: 1200px;
background-color: #E3D26F;
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-column-gap: 24px;
border-radius: 64px;
}

header {
  grid-column:span 12;
  margin-bottom: -12px;
}

h1 {
  display: inline-block;
  color: #09864E;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 54px;
  font-weight: medium;
  padding-left: 42px;
}

h1 a{
  text-decoration: none;
  color: #CE6664;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  margin-left: 597.5px;
  font-weight: medium;
}

h1 a:hover {
  color:#e28c8b
}

.thechosen {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  color: #004e4d;
  background-color: #009e9b;
  text-align: center;
  width: 172px;
  padding: 6px 0;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-right: 12px;
  margin-top: 0;
 }

 nav {
   grid-column:span 12;
   text-align: center;
   margin-bottom: 48px;
 }
 
 nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }
 
 nav li {
   display: inline-block;
 }
 
 nav li a {
   display: block;
   text-decoration: none;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 28px;
   color: #005250;
   background-color:#00CCC9;
   text-align: center;
   width: 172px;
   padding: 6px 0;
   border-top-left-radius: 16px;
   border-bottom-right-radius: 16px;
   margin-right: 12px;
   margin-top: 0;
 }
 
 nav li a:hover {
   background-color:#00B8B5;
 }

h2 {
  text-align: center;
  font-size:32px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #83678E;
  margin-bottom: 42px;
}

img {
width: 450px;
}

iframe {
width: 453px;
height: 256px;
}

audio {
  width: 400px;
  height: 36px;
}

main {
grid-column: span 12;
margin: 12px 88px 0 88px;
}

h3 {
color: #09864E;
font-size: 26px;
}

main p {
  font-size: 18px;
}

.boxone a {
  text-decoration: none;
  color:#da4a47;
}

.boxone a:hover {
  color:#CE6664;
}

.boxone {
  background-color:#D7BE33;
  border-radius: 16px;
  height:256px;
  padding: 36px;
  text-align: left;
  margin-bottom: 44px;
}

.boxone iframe {
  float:right;
  margin-left: 24px;
}

.boxtwo {
  background-color:#D7BE33;
  border-radius: 16px;
  height:320px;
  padding: 36px;
  text-align: left;
  margin-bottom: 44px;
}

.boxtwo img {
  float:left;
  margin-right: 24px;
}

.boxtwo audio {
  margin-left: -450px;
  margin-top: 154px;
}

.boxone a {
  text-decoration: none;
  color:#da4a47;
}

.boxone a:hover {
  color:#CE6664;
}

.boxthree {
  background-color:#D7BE33;
  border-radius: 16px;
  height:320px;
  padding: 36px;
  text-align: left;
  margin-bottom: 44px;
}

.boxthree img {
  float:right;
  margin-left: 24px;
}

.boxthree audio {
  margin-left:528px;
  margin-top: 16px;
}


footer {
grid-column:span 12;
margin-top: 48px;
color: #99871E;
text-align: center;
}

footer nav {
grid-column: span 12;
}

footer ul {
list-style-type: none;
margin-left: 28px;
}

footer li {
font-family: Georgia, 'Times New Roman', Times, serif;
display: inline-block;
margin-right: 72px;
}

footer li a {
color: #99871E;
font-size: 24px;
}

footer li a:hover {
color: #81721d;
}